
#videoPlayerContainer {
  
  @include aplicarTransicion(0.5s, 0s);

    position: fixed;
    top:0%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;

    // esta es la resolucion que vamos a usar
    @media(min-width: 1367px){
  
    }

    .video-wrapper{
      position: relative;
      display: flex;
      align-items: center;

        #mainVideo {
          width: 100%;            /* Se adapta al ancho del contenedor padre */
          max-width: 1366px;      /* El ancho máximo de tu iPad Pro */
          height: auto;           /* Controles de altura automáticos basados en el video */
          display: block;         /* Elimina espacios fantasma debajo del video */
          background-color: #fff;
          border: 6px solid rgba(182, 160, 111, 1);
          border-radius: 32px;

          /* El truco para iOS: */
          object-fit: contain;    /* Asegura que el contenido se ajuste al tag */
      }      
    }



}


.hidden { 

  top: 110% !important;
  // display: none !important; 
}

.close-btn-video {
    position: absolute;
    top:82px;
    right: 5px;
    padding: 10px 20px;
    background: #B6A06F !important;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 24px;
      // esta es la resolucion que vamos a usar
    @media(min-width: 1367px){
        top: 0px;
    }
}