@charset "UTF-8";
/* Pages */
html, body {
  -webkit-user-select: none;
  background-image: url("../images/home/Bkg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; /* Obliga a iOS a congelar el fondo */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
@media (min-width: 1367px) {
  html, body {
    background-size: cover;
  }
}
html, body {
  /* Este contenedor absorbe el tamaño real de la pantalla de tu iPad */
}
html #app-wrapper, body #app-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden !important;
  -webkit-overflow-scrolling: auto; /* Desactiva el rebote elástico de Safari */
}

#screen {
  transition: 0.7s ease-in;
  transform: all;
  transition-delay: 0s;
  position: absolute;
  z-index: 2;
  height: 40%;
  bottom: -200px;
  width: 100%;
}
@media (min-width: 1367px) {
  #screen {
    height: 34%;
  }
}
#screen.active {
  height: 100%;
  bottom: 0px !important;
}
#screen.active .screen-wrapper {
  align-items: center;
  border-radius: 0;
}
#screen.active .screen-wrapper img#logo {
  margin-top: 0;
  width: auto;
}
#screen .screen-wrapper {
  transition: 0.5s ease-in;
  transform: all;
  transition-delay: 0s;
  background: #B6A06F;
  background: linear-gradient(241deg, rgb(182, 160, 111) 0%, rgb(188, 167, 122) 45%, rgb(203, 189, 154) 100%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  transform: scaleX(1.5);
  position: absolute;
  margin: 0 auto;
}
#screen .screen-wrapper img#logo {
  margin-top: 2rem;
  transform: scaleX(0.7);
  width: 24%;
}
#home {
  position: absolute;
  bottom: -100%;
  height: 100%;
  width: 100%;
  left: 0;
  padding: 8rem 10rem;
}
@media (min-width: 1367px) {
  #home {
    padding: 8rem 20rem;
  }
}
#home .row {
  text-align: center;
}
#home .row img {
  width: 100%;
}

#extra-layer {
  position: absolute;
  z-index: 260000;
  bottom: -100%;
  height: 100%;
  width: 100%;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
#extra-layer button {
  border: 1px solid transparent;
  background: transparent;
  position: absolute;
  z-index: 5000;
  width: 110px;
  cursor: pointer;
}
#extra-layer button img {
  width: 100%;
  float: left;
}
#extra-layer button.extra-close-btn {
  left: -150px;
  top: 36px;
}
#extra-layer button.extra-back-btn {
  right: -150px;
  top: 36px;
}
#extra-layer button.extra-forward-btn {
  right: -150px;
  top: 36px;
}
#extra-layer .page {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0rem 10rem;
}
@media (min-width: 1367px) {
  #extra-layer .page {
    padding: 2rem 9rem;
  }
}

.row.logo-section img {
  width: 50%;
  margin: 0 auto;
  display: block;
}
.row.thumbs-wrapper .thumb.tercera-fila img {
  padding: 0 2.2rem;
}
@media (min-width: 1367px) {
  .row.thumbs-wrapper .thumb.tercera-fila img {
    padding: 0 4.4rem;
  }
}
.row.thumbs-wrapper .thumb img {
  width: 100%;
}
@media (min-width: 1367px) {
  .row.thumbs-wrapper .thumb img {
    width: auto;
  }
}

.page-veranos, .page-pirates, .page-paddle, .page-tb, .page-adventures {
  overflow: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.page-veranos .thumbs-wrapper {
  padding: 0rem 10rem;
}
@media (min-width: 1367px) {
  .page-veranos .thumbs-wrapper {
    padding: 6rem 20rem;
  }
}

.page-pirates .thumbs-wrapper {
  padding: 4rem 6rem;
}
@media (min-width: 1367px) {
  .page-pirates .thumbs-wrapper {
    padding: 14rem 20rem;
  }
}

.page-paddle .thumbs-wrapper {
  padding: 4rem 6rem;
}
@media (min-width: 1367px) {
  .page-paddle .thumbs-wrapper {
    padding: 14rem 20rem;
  }
}

.ultima-fila {
  padding: 0rem 4rem;
}
@media (min-width: 1367px) {
  .ultima-fila {
    padding: 0;
  }
}

.no-visible-cm {
  display: none !important;
}

.scroll {
  -webkit-overflow-scrolling: touch;
}

#videoPlayerContainer {
  transition: 0.5s ease-in;
  transform: all;
  transition-delay: 0s;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  /* El truco para iPad y Safari: */
  /* Regla estándar para el resto de navegadores */
  backdrop-filter: blur(10px);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#videoPlayerContainer .video-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
#videoPlayerContainer .video-wrapper #mainVideo {
  width: 100%; /* Se adapta al ancho del contenedor padre */
  max-width: 1072px; /* El ancho máximo de tu iPad Pro */
  height: auto; /* Controles de altura automáticos basados en el video */
  display: block; /* Elimina espacios fantasma debajo del video */
  background-color: #fff;
  border: 6px solid rgb(182, 160, 111);
  border-radius: 32px;
  /* El truco: Fuerza la proporción para que el borde y el video encajen siempre. */
  /* Ejemplos comunes: 16/9 (panorámico), 4/3 (cuadrado antiguo/iPad), 1/1 (cuadrado) */
  aspect-ratio: 16/9;
  /* El truco para iOS: */
  -o-object-fit: contain;
     object-fit: contain; /* Asegura que el contenido se ajuste al tag */
}

.hidden {
  top: 110% !important;
}

.close-btn-video {
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 10px 20px;
  background: #B6A06F !important;
  color: white;
  border: none;
  border-radius: 32px;
  font-size: 24px;
}
@media (min-width: 1367px) {
  .close-btn-video {
    top: 0px;
  }
}/*# sourceMappingURL=style.css.map */